<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card stats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">tradethecart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/tradethecart">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/catalogue">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/collections">Collections</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
                <a class="btn btn-outline-light" href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-2 py-4 mb-4 bg-dark rounded-3 text-white">
        <div class="p-4 mb-4 lc-block">
            <div class="lc-block">
                <div editable="rich">
                    <h2 class="fw-bolder display-3">Card stats
                    </h2>
                </div>
            </div>
            <div class="lc-block col-md-8">
                <div editable="rich">
                    <p class="lead">
                    </p>
                </div>
            </div>
            <a class="btn btn-light" href="/catalogue">Back</a>
        </div>
    </div>

    <% card.forEach((c)=> { %>

        <div class="container my-4 text-centre">
            <div class="row">
                <div class="col">
                    <img src="<%=c.pokemon_img %>" alt="">
                </div>

                <div class="col">
                    <h2>Name:</h2>
                    <h3>
                        <%= c.pokemon_name%>
                    </h3>
                    <div class="row mt-5">
                        <div class="col">
                            <h2>Set:</h2>
                            <h3>
                                <%= c.set_name%>
                            </h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col ">
                            <h2>Description:</h2>
                            <h3>
                                <%= c.description%>
                            </h3>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <h2>Type:</h2>
                    <h3>
                        <%= c.type_name%>
                    </h3>
                    <div class="row mt-5">
                        <div class="col">
                            <h2>HP:</h2>
                            <h3>
                                <%= c.pokemon_hp%>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% }); %>

</body>

</html>